body {
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.app-header {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transform: scale(1, 1.25);
  position: sticky;
  top: 0;
  width: 100%;
}

.bold {
  text-transform: uppercase;
  font-weight: 900;
}

.workout-summary {
  background-color: rgb(31, 26, 26);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.workout-summary.selected {
  border: 2px solid;
  border-color: darkred;
}

.button {
  background-color: darkred;
  width: 94.5%;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: 900;
  border: 2px solid;
  border-color: darkred;
  position: absolute;
  right: 0;
  bottom: 10px;
  margin-right: 10px;
}
